/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* 
 * 01 - General
 * 02 - Logo
 * 03 - Side nav
 * 04 - Index Content
 * 05 - Impresiones Content
 * 06 - Signo
 * 07 - Sketchbook
 * 08 - Historia
 * 09 - Sommerregen
 * 10 - Menu Mobile
 */
 /* 01 General */
@font-face {
    font-family: Orator-Std-Medium;
    src: url(../fonts/Orator-Std-Medium.ttf);
}
#main-content {
    height: 100%;
    padding-top: 42px;
    padding-left: 30px;
    position: relative;
}
.italic {
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {    
    cursor: pointer;
}
.site-content {
    float: left;
    margin-left: 75px;
    max-width: 800px;
}
.descripcion {
    text-indent: 8px;
    font-style: italic;
    max-width: 660px;
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    color: #acaaaa;
}
materiales {
    text-indent: 0;
}
.footer {
    width: 100%;
    height: 60px;
    float: left;
}
#back-to-top {
    position: fixed;
    bottom: 50px;
    left: 100px;
    border: none;
    background-color: white;
    color: #acaaaa;
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
#back-to-top:hover {
    font-weight: bold;
}
#back-to-top:active, #back-to-top:focus {
    outline: 0;
}
@media only screen and (max-width: 780px) {
    .site-content {
        width: 90%;
        margin: 50px 5% 0;
    }
    #back-to-top {
        bottom: 15px;
        left: auto;
        right: 15px;
        padding: 5px 10px;
        background-color: #f5f5f5;
        border: 1px solid #a5aaaa;
        border-radius: 16px;
        font-size: 12px;
        width: 50px;
    }
}
/* 02 Logo */
.logo-container {
    overflow: visible;
    position: relative;
    padding: 0 0 20px 30px;
}
#logo {
    width: 102px;
    float: left;
    margin-left: 6px;
}
img.polilla {
    height: 147px;
    position: absolute;
    top: -18px;
    right: 19px;
}
/* 03 Side nav */
.sidebar-nav {    
    float: left;    
    height: 100%;
}
.sidenav-content {
    width: 330px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav ul li {
    margin-bottom: 29px;
    font-size: 17px;
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    color: #acaaaa;
    line-height: 79%;
}
.sidebar-nav ul li:last-child {
    margin-bottom: 0;
}
li a {
    display: inline-block;
    padding-bottom: 3px;
    color: #acaaaa;
    transition: box-shadow 0.6s ease;
}
li a:hover, li a.active {
    box-shadow: 0px 3px 0px -2px #acaaaa;
}
.sidebar-img {
    width: 270px;
    padding-left: 25px;
}
.redes-sociales {
    padding: 14px 0 0 40px;
}
.redes-sociales a {
    font-size: 17px;
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    color: #878585;
}
/* 04 Index Content */
img.schone {
    width: 355px;
    margin-left: 20px;
    margin-top: 50px;
}
@media only screen and (max-width: 780px) {
    img.schone {
        width: 100%;
        margin: 0;
    }
}
/* 05 Impresiones Content */
.impresiones-dibujo span, .fecha-obra {
    display: block;
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    color: #acaaaa;
    font-size: 11px;    
}
.impresiones-dibujo img {
    width: 400px;
    max-width: 100%;
    margin-bottom: 35px;
}
.fecha-obra {
    margin: 8px 0 35px;
}
/* 06 Signo */
.signo p {    
    font-size: 12px;
    line-height: 1;
}
.signo img {
    width: 500px;
    max-width: 100%;
    padding-bottom: 20px;
}
.signo img:first-of-type {
    padding-top: 30px;
}
/* 07 Sketchbook */
.sketchbook p {    
    font-size: 12px;
    line-height: 1;
}
.sketchbook img {
    width: 700px;
    max-width: 100%;
}
.signo img {
    width: 500px;
    padding-bottom: 20px;
}
.signo img:first-of-type {
    padding-top: 30px;
}
/* 08 Historia */
.historia img {
    width: 500px;
    max-width: 100%;
    padding-bottom: 20px;
}
.historia p {    
    font-size: 12px;
    line-height: 1;
}
/* 09 Sommerregen */
.sommerregen p {    
    font-size: 12px;
    line-height: 1;
    max-width: 487px;
    text-indent: 0;
}
#carousel {
  position: relative;
  width: 630px;
  max-width: 100%;
  height: 550px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
}
#slides {
  white-space: nowrap;
  transition: transform 1.2s ease;
}
#slides > div {
  width: 630px;
  max-width: 100%;
  height: 550px;
  display: inline-block;
}
#slides img.vertical {
    height: inherit;
    margin-left: 85px;
}
#slides img.horizontal {
    width: inherit;
}
/* Navegacion derecha */
.container-flechas {
    float: right;
    margin: 175px 0 0 10px;
}
a.flecha {
    color: #acaaaa;
    font-size: 43px;
    display: block;
    margin-bottom: 10px;
}
div.contador-img {
    font-family: Orator-Std-Medium, "Times New Roman", Serif;
    color: #acaaaa;
    margin-top: 224px;
}
@media only screen and (max-width: 780px) {
    #slides img.vertical {
        height: 78%;
        max-width: 100%;
        margin: 0 6% 0 0;
    }
    #slides img.horizontal {
        width: 100%;
    }
    .container-flechas {
        margin: 0;
        float: none;
        position: relative;
        top: -100px;
    }
    a.flecha {
        float: right;
        margin-right: 20px;
    }
}
/* 10 Menu Mobile */
#mobile-menu {
    display: none;
    padding: 10px;
}
#mobile-menu .sidenav-toggle {
    background-color: white;
    border: 1px solid #acaaaa;
    border-radius: 8px;
    transition: background-color 1s ease;
}
.icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #acaaaa;
    margin: 6px 0;
}
@media only screen and (max-width: 780px) {
    #main-content {
        padding: 0;
    }
    #main-content > .sidebar-nav {
        max-width: 0;
        overflow: hidden;
        position: absolute;
        background-color: white;
        transition: max-width 1s ease;
        border-radius: 0 0 10px;
    }
    #mobile-menu {
        display: block;
    }
    #mobile-menu > button.sidenav-toggle {
        float: left;
    }
    #mobile-menu > button.sidenav-toggle.active {
        background-color: #f5f5f5;
    }
    #mobile-menu img.polilla {
        height: 110px;
        top: -10px;
        z-index: 2;
    }
    #logo {
        margin-left: 14px;
        margin-top: -3px;
    }
    .sidebar-nav {
        padding-bottom: 50px;
        height: auto;
        z-index: 1;
    }
    .sidebar-nav .logo-container {
        display: none;
    }
    .sidebar-img {
        width: 160px;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
